
* {
  color: white;
  background-color: black;
  margin: 0;
}

.c-photo{
  display:block;
  border: 5px solid gray;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 200px;
}

div{
  text-align: center;

}

div h1{
  margin-top: 20px;
  margin-bottom: 30px;
}

div p{
  font-weight: bolder;
  padding-top: 10px;
  margin-top: 20px;
}

div ul{
  display: inline-block;
  text-align: left;
  margin-top: 16px;
}

div footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  
}
